/* Overall Navbar Container */
.navbar-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(202, 157, 73); /* dark slate */
  padding: 1rem 2rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 96%;
  transition: background-color 0.3s ease-in-out;
  border-bottom: 20px solid black;
}

/* Logo */
.navbar-Logo {
  height: 50px;
  transition: transform 0.3s ease;
}
.navbar-Logo:hover {
  transform: scale(1.1);
}

/* Main Navigation Links */
.main-route ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.main-route ul li {
  position: relative;
}

.main-route ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 8px 12px;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;

}



/* Optional: Animated underline effect */
.main-route ul li a::after {

  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  background-color: #60a5fa;
  left: 0;
  bottom: 0;
  transition: 0.3s ease;
}

.main-route ul li a:hover::after {
  width: 100%;
}

.main-route ul li a:focus{

  color: #ffbb55;

  background-color: #000000;
  font-weight: 600;

}


.profileDetails{
  width: 300px;
  
  background-color: rgb(220, 219, 219);
  position: fixed;
  right: 10px;
  top: 82px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.profileImage{
  width: 48%;
  height: 30%;
  background-color: #ac2222;
  position: relative;
  margin-top: 20px;
  border-radius: 100px;
  border: 5px solid black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.UserProfileDetails{
  height: 45%;
  width: 90%;
  
  margin-top: 5%;
  
}

.profile-link{
  height: auto;
}

.menu-icon{
  margin-left: -15px;
  visibility: hidden;
}

.main-route-listItem{

}

.UserProfileDetails{
  font-size:17px;
  font-weight:bold;
}

.logoutButton{
      margin-left:70px;
      text-align:center;
      font-size:17px;
      font-weight:bold;
      border:2px solid red;
      background-color:red;
      width:40%;
      height:"36px";
      border-radius:20px;
      cursor:pointer;
      align-content:center
    }



@media only screen and (max-width: 768px){



  .main-route ul li a:focus{

  color: #34312d;

  background-color:rgb(202, 157, 73); /* dark slate */

  

}



    .main-route ul li a::after {

  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #335b8b;
  left: 0;
  bottom: 0;
  transition: 0.3s ease;
}


    .navbar-div{
      height: 20px;
      width: 100%;
      justify-content: flex-start;
     
    }
    .main-route ul li a{
      font-size: 0px;

    }
    .navbar-Logo{
      content-visibility: hidden;
    }

    .menu-icon{
    visibility: visible;

    }

    .main-route-listItem{
      display: none;
    }

    .main-route li{
      
    }

    .main-route {
      margin-left: 220px;
      margin-top: 10px;
      width: 200px;
    }
    .toggle-sidebar{
      background-color: rgb(240, 242, 244);
      position: fixed;
      left: 0px;
      top: 52px;
      font-size: 15px;
      width: 150px;
      list-style: none;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      
      
    }
    .toggle-sidebar ul li{
      list-style: none;
      margin-bottom: 20px;
      
    }
    .toggle-sidebar ul li a{
      text-decoration: none;
      margin-left: -27px;
      color:#000000;
      font-weight: 800;
      
      
      
    }
    .toggle-sidebar ul li a:focus{
     color:rgb(255, 255, 255);
     background-color: #000000;
    
    }
    .profileDetails{
      width: 200px;
      height:auto;
      overflow:hidden;
      top: 52px;
     
      
      
      
    }
    
    .UserProfileDetails {
      font-size: 15px;
    }
    .UserProfileDetails button {
      font-size: 12px;
    }

  
}






