.PCbuild_Select_div{
    height: auto;
    width:100%;

    
}

.PCbuild_Select_items{
    width: 90%;
    margin-bottom: 20px;
    display: flex;
    border-radius: 10px;
    margin-left: 40px;
        background-color: rgb(238, 238, 238);
}

.PCbuild_Select_items_title{
    font-size: 20px;
    margin-left: 20px;
    
}

.PCbuild_Select_items_images{
    
}

.PCbuild_Select_items p{
    width: 500px;
}

.items_pick_button{
    
    
    height: 50px;
    width: 200px;
    background-color: orange;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    align-items: center;
    border: none;
    position: relative;
    top:50px;

}

.PCbuild_Select_items_inner{
    height: 180px;
    width: 250px;
    position: relative;
    right: -300px;
    text-align: center;
}

.PCbuild_Select_items_inner p{
    width:250px;
    font-size: 20px;
    font-weight: bold;
    color:rgb(209, 147, 32)
}
.search_box{
    margin-bottom: 20px;
}














