.PCbuild_Select_div{
    height: auto;
    width:100%;


    
}

.PCbuild_Select_items{
    width: 90%;
    margin-bottom: 20px;
    display: flex;
    border-radius: 10px;
    margin-left: 40px;
    background-color: rgb(238, 238, 238);
}

.PCbuild_Select_items_title{
    font-size: 20px;
    margin-left: 20px;
    
}

.PCbuild_Select_items_images{
    border:2px solid black;
    height:180px;
    width:180px;
}

.PCbuild_Select_items p{
    width: 500px;
}

.items_pick_button{
    
    
    height: 50px;
    width: 200px;
    background-color: orange;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    align-items: center;
    border: none;
    position: relative;
    top:50px;

}

.PCbuild_Select_items_inner{
    height: 180px;
    width: 250px;
    position: relative;
    right: -300px;
    text-align: center;
}

.PCbuild_Select_items_inner p{
    width:250px;
    font-size: 20px;
    font-weight: bold;
    color:rgb(209, 147, 32)
}
.search_box{
    margin-bottom: 20px;
}

@media only screen and (max-width:768px){
    .PCbuild_Select_items{
        width: 95%;
        height: auto;
        margin-bottom: 20px;
        display: block;
        border-radius: 10px;
        margin-left: 10px;

    }
    .PCbuild_Select_items_images{
            border:0px solid black;
            height:80px;
            width:80px;
            display: flex;
            float: left;
            margin-left: 6px;
            margin-top: 6px;
    }
    .PCbuild_Select_items_title{
    font-size: 12px;
    margin-left: 25px;

    
    
    }
    .PCbuild_Select_items_inner{
    height: 60px;
    width: 250px;
    display: flex;
    position: relative;
    right: -20px;
    text-align: center;
    }
    .PCbuild_Select_items_inner p{
    width:120px;
    font-size: 17px;
    font-weight: bold;
    color:rgb(209, 147, 32);

}
.items_pick_button{
    
    
    height: 40px;
    width: 300px;
    background-color: orange;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    align-items: center;
    border: none;
    position: relative;
    top:10px;

}
.PCbuild_Select_items p{
    width: 340px;
    margin-top: 10px;
}
.PCbuild_Select_div{
    background-color: rgb(241, 241, 241);


    
}

.PCbuild_Select_items{

    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
}
   
}











