.auth-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
}


.auth-box {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 320px;
  text-align: center;
  height: auto;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-box {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  background: #25d366;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.link-text {
  color: #25d366;
  font-weight: bold;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.forgotdetails{
  display: flex;
  float: left;
  flex-direction: column;

}
.forgotbutton{
  float:left;
}

@media only screen and (max-width:768px) {
  .auth-box{
    margin-top: -100px;
  }
}